@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #3b82f6;
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}

html, body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
