@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/* Dark mode baseado em classe */
@custom-variant dark (&:where(.dark, .dark *));

@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

/* Estilos essenciais para layout do mapa */
html, body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
